.note-form {
  margin-top: 40px;
  &__name {
    margin-top: 20px;
  }
  
  label {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
      margin-bottom: 5px;
    }
  }

  &__buttons {
    text-align: center;
  }

  &__button {
    margin: 0 5px;
  }
}