.title {
  margin-top: 0;
  display: inline;
  vertical-align: middle;

  &-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 5px;
    display: inline;
    vertical-align: middle;
  }
}

.note-form {
  &__buttons {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
  }

  &__button {
    margin: 0 5px;
  }
}