.input {
  &__label {
    display: block;
    color: #374151;
    margin-bottom: 8px;
    margin-top: 2rem;
    line-height: 14px;
    font-size: 14px;
    font-weight: 500;
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.75rem;
    line-height: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: #F9FAFB;
    border-radius: 0.25rem;
    border: 1px solid #C0C4C9;
    border-bottom: 2px solid #C0C4C9;
    transition: all 0.15s ease-out;
  }
  
}

input[type=text]:focus {
  outline: none;
  border-color: #202124;
}