.todo-item {
  list-style: none;
  
  height: 300px;

  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;

  &:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);

    .todo-item__delete_button {
      display: block;
    }
  }

  &__content {
    height: 100%;
    padding: 5px 20px;
    display: flex;
    flex-flow: column nowrap;
  }

  &__name {
    font-size: 1.2em;
    margin-bottom: 0;
    flex: 4;
  }

  &__description {
    overflow: hidden;
    flex: 5 1;

    &::after {
      content: '';
      height: inherit;
      width: inherit;
      position: absolute;
    }
  }

  &__date {
    font-size: .85em;
    flex: 1 1;
    align-self: flex-end;
    color: #8e8e8e;
  }

  &__header {
    min-height: 30px;
    padding: 10px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &__delete_button {
    display: none;
  }
}