.button {
  &-default {
    padding: 8px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;

    &:hover {
      color: #333;
      background-color: #3c404314;
      cursor: pointer;
    }
  }

  &-round {
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    border: none;
  
    &:hover {
      background: #5f636828;
      cursor: pointer;
    }
  }

  &-primary {
    color: white;
    background-color: #2eb872;
  }

  &-plain {
    color: #333;
    background-color: white;
  }
}
