.note-display {
  &__name {
    margin-top: 0;
  }

  &__date {
    font-size: .75em;
    margin-top: 20px;
    margin-right: 10px;
    text-align: right;
  }

  &__button {
    &-icon {
      display: inline;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 3px;
      margin-bottom: 2px;
      vertical-align: middle;
    }
  }

  .empty {
    color: #8e8e8e;
  }
}