$horizontal-padding: 40px;

html, body {
  background: #fff;
  color: #202124;
}

header {
  padding: 10px $horizontal-padding;
  border-bottom: 1px solid #e0e0e0;

  h2 {
    margin: 0;
    padding: 0;
  }

}

main {
  padding: 0 $horizontal-padding;
  margin: 0 auto;
  margin-top: 20px;

  .control {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    &__search {
      width: 30%;
    }
  }
}
