$horizontal-padding: 40px;

html, body {
  background: #fff;
  color: #202124;
}

header {
  padding: 10px $horizontal-padding;
  border-bottom: 1px solid #e0e0e0;

  h2 {
    margin: 0;
    padding: 0;
  }

}

main {
  padding: 0 $horizontal-padding;
  margin: 0 auto;
  margin-top: 20px;

  .control {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    &__search {
      width: 30%;
    }
  }

  .loading_message {
    margin: 30px auto;
    text-align: center;;
    font-size: 1.5rem;

    &::before {
      content: '';
      display: inline-block;
      // position: relative;
      // top: 5px;
      margin-right: 5px;
      height: 20px;
      width: 20px;
      background-image: url(./loading.svg);
    }
  }
  
  @mixin input-style {
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);

    &:focus {
      outline: none;
    }
  }

  .todo-input {
    @include input-style();
  }

  .todo-textarea {
    @include input-style();
    resize: vertical;
  }

}